<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Store<span style="font-weight: 700;"> <span style="color: rgb(254,231,18);">M</span><span style="color: rgb(35,159,115);">Q</span></span></a>
      <!-- <form style="width: 50%;" class="d-flex justify-content-center"> -->
      <form class="d-flex justify-content-center">
        <input autocomplete="off" class="form-control me-2" name="searchTerm" [(ngModel)]="searchTerm" type="search" placeholder="What are you looking for..." aria-label="Search">
        <button class="btn btn-outline-success" (click)="submitQuery()" type="submit">
            <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </form>
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div style="max-width: 34%;" class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed"> -->
        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/categories">Categories</a>
          </li>

          <li *ngIf="!logged" ngbDropdown class="nav-item dropdown">
            <a id="navbarDropdown" ngbDropdownToggle role="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <fa-icon style="margin-right: .2rem; vertical-align: center;" [icon]="faUser"></fa-icon>
              LogIn
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a routerLink="/login" ngbDropdownItem class="dropdown-item">Login</a>
              <a routerLink="/register" ngbDropdownItem class="dropdown-item">Register</a>
              <!-- <div class="dropdown-divider"></div>
              <a ngbDropdownItem class="dropdown-item">You're not logged yet</a> -->
            </div>
          </li>
          <li *ngIf="logged" ngbDropdown class="nav-item dropdown">
            <a id="navbarDropdown" ngbDropdownToggle role="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
              <fa-icon style="margin-right: .2rem; vertical-align: center;" [icon]="faUserCheck"></fa-icon>
              Profile
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a routerLink="/my-profile" ngbDropdownItem class="dropdown-item">See your Profile</a>
              <a (click)="logOut()" ngbDropdownItem class="dropdown-item">Log Out</a>
              <div class="dropdown-divider"></div>
              <a ngbDropdownItem id="dropdown-item-message" class="dropdown-item">
                Hello, {{user1stName | titlecase}}!
              </a>
            </div>
          </li>

          <li class="nav-item">
            <a id="cartIconlink" routerLink="/cart" class="nav-link cart-icon">
              <fa-icon [icon]="faShoppingCart"></fa-icon>
              <div *ngIf="itemsInCart >= 1" class="cart-counter">
                {{ itemsInCart! }}
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav> 
