<app-header></app-header>
<div class="container">
    <div class="query-product-header d-flex flex-column justify-content-center align-items-center">
        <h2>{{paramOnURL}}</h2>
        <p>{{prodsToShow?.length}} Result(s)</p>
    </div>
    <div class="query-product-content">
        <div class="content-wrapper">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let productItem of prodsToShow">
                    <app-card-template [productOnCard]="productItem"></app-card-template>
                </div>
            </div>
            <div class="row start-displaying">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card start-displaying-card d-flex justify-content-center align-items-center">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <div class="spinner"></div>
                            <p class="card-text"></p>
                            <div class="price"></div>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card start-displaying-card d-flex justify-content-center align-items-center">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <div class="spinner"></div>
                            <p class="card-text"></p>
                            <div class="price"></div>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card start-displaying-card d-flex justify-content-center align-items-center">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <div class="spinner"></div>
                            <p class="card-text"></p>
                            <div class="price"></div>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card start-displaying-card d-flex justify-content-center align-items-center">
                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                            <div class="spinner"></div>
                            <p class="card-text"></p>
                            <div class="price"></div>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="prodsToShow.length == 0" class="no-result d-flex flex-row justify-content-evenly align-items-center"> -->
        <div *ngIf="prodsToShow.length == 0" class="no-result">
            <fa-icon style="font-size: 2.5rem;" [icon]="faSearch"></fa-icon>
            <div style="text-align: center;">
                No exact matches found for "{{paramOnURL}}".
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>